body{
    background-color: #000916;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.navbar {
    background-color: rgba(0, 0, 0, 0.855);
    border-bottom: 1px solid #6c757d; 
    opacity: 0.9;
}
img.icon {
  filter: invert(1);
  vertical-align: text-bottom;
}
img.icon2 {
  filter: grayscale(1) contrast(1.2);
  vertical-align: text-bottom;
}
.navbar-brand:hover {
  color: rgba(255, 0, 0, 0.773) !important;
}
.navbar-brand:hover i {
  color: rgba(255, 0, 0, 0.773) !important;
}
.nav-link:hover {
  color: #0d6efd !important;
}
.nav-link:hover img {
  filter: brightness(0) saturate(100%) invert(27%) sepia(97%) saturate(586%) hue-rotate(194deg) brightness(97%) contrast(96%);
}
.satir {
  display: flex;
  align-items: center; /* Dikeyde ortalama */
  gap: 12px; /* Öğeler arası boşluk */
  margin-top: 50px;
}
.ad{  
  font-weight: 700;
  font-size: 48px;
}
.soyad{
  font-weight: 400;
  font-size: 48px;
}
.email{
  font-weight: 200;
  font-size: 15px;
  color: #99ffff;
}
.email-cevap{
  font-weight: 400;
  font-size: 15px;
  color: white;
}
.egitim{
  font-size: 25px;
  color: #21059f;
}
.yazi{
  font-weight: 400;
  font-size: 15px;
  color: white;
}
.bolum-baslik {
  color: #00ffff;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 8px;
}
.container-pt{
  height: 100vh;
}