body{
    background-color: #000916;
}
.navbar {
    background-color: rgba(0, 0, 0, 0.855);
    border-bottom: 1px solid #6c757d; 
    opacity: 0.9;
}
img.icon {
  filter: invert(1);
  vertical-align: text-bottom;
}
img.icon2 {
  filter: grayscale(1) contrast(1.2);
  vertical-align: text-bottom;
}
.navbar-brand:hover {
  color: rgba(255, 0, 0, 0.773) !important;
}
.navbar-brand:hover i {
  color: rgba(255, 0, 0, 0.773) !important;
}
.nav-link:hover {
  color: #0d6efd !important;
}
.nav-link:hover img {
  filter: brightness(0) saturate(100%) invert(27%) sepia(97%) saturate(586%) hue-rotate(194deg) brightness(97%) contrast(96%);
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px); /* Sayfa açıldığında aşağıda başlasın */
    }
    to {
        opacity: 1;
        transform: translateY(0); /* Yavaşça yukarı hareket etsin */
    }
}
.hosgeldiniz {
    font-size: 3rem;
    font-weight: bold;
    color: #99ffff;
    animation: fadeInUp 1.5s ease-out; /* 1.5 saniyede açılma animasyonu */
}
img.ball-icon {
  background-color: #99FFFF;
  vertical-align: text-bottom;
}
.merhaba{
    color: #99ffff;
}
.donen-foto {
  width: 150px;
  height: 150px;
  border-radius: 50%; /* resmi yuvarlak yapar */
  animation: donme 2s linear 1; /* 1 defa döner */
}
@keyframes donme {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.fixed-size {
  width: 100%;
  max-width: 500px;
  height: 333px;
  object-fit: cover;
  border-radius: 10px;
}